<div class="row">
  <!-- spacer -->
  <div class="col s12 m12 l1"></div>

  <div class="col s12 m12 l10">
    <div class="row">
      
      <div class="col s12 m12 l3">
        <h5>navigate</h5>

        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Orbitr</a></li>
          <li><a href="#">Orbitr</a></li>
          <li><a href="#">Orbitr</a></li>
        </ul>
      </div>

      <!-- email subscription form -->
      <form materialize>
        <div class="col s12 m12 l4">
          <h5>subscribe</h5>
          <p>join the waiting list and keep informed with future updates</p>
          
          <!-- email input -->
          <div class="input-field">
            <input id="email" type="text" class="validate">
            <label for="email">email</label>
          </div>
          <a type="submit" class="btn waves-effect waves-light">subscribe</a>
        </div>
      </form>

      <!-- spacer -->
      <div class="col s1"></div>

      <!-- social media -->
      <div class="col s12 m12 l4">
        <h5>connect</h5>

        <!-- social media icons-->
        <div class="row">
          <div class="col s6 icon">
            <i class="inner fab fa-facebook-f"></i>
            <p class="inner icon-label">facebook</p>
          </div>
          <div class="col s6 icon">
            <i class="inner fab fa-instagram"></i>
            <p class="inner icon-label">instagram</p>
          </div>
          <div class="col s6 icon">
            <i class="inner fab fa-twitter"></i>
            <p class="inner icon-label">twitter</p>
          </div>
          <div class="col s6 icon">
            <i class="inner fab fa-youtube"></i>
            <p class="inner icon-label">youtube</p>
          </div>
          <div class="col s6 icon">
            <i class="inner fab fa-google-plus-g"></i>
            <p class="inner icon-label">google+</p>
          </div>
          <div class="col s6 icon">
            <i class="inner fas fa-envelope"></i>
            <p class="inner icon-label">email</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- spacer -->
  <div class="col s12 m12 l1"></div>
</div>