footer {
  background-color: black;
  color: white;
  float: bottom;
  position: absolute;
  width: 100%;
}

.fab, .fas {
  width: 46px;
  height: 46px;
  border-radius: 46px;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 13px;
  padding-left: 1px;
}

.inner {
  vertical-align: middle;
}

.icon {
  padding: 5px 0px;
}

.icon-label {
  padding-left: 5px;
  display: inline-block;
}
