<div class="container" #messageElement>
  <div class="row">
    <div class="col s12 m12 l6">
      <h1>Share your thoughts with the people around you</h1>
    </div>
    <div class="col s12 m12 l6 messages">

      <!-- messages -->
      <div class="row">
        <div [@slide]="message1" class="col s12 message">

          <div class="row">

            <!-- profile pic -->
            <div class="col s3">
              <div class="profile-pic"></div>
            </div>

            <!-- message content -->
            <div class="col s9">
              <h5 class="message-name">John Doe</h5>
              <p class="message-location">
                <span>
                  <i class="material-icons">location_on</i>
                </span>
                San Francisco
              </p>
              <p class="message-text">meesage</p>
            </div>
          </div>

        </div>

        <div [@slide]="message2" class="col s12 message">

          <div class="row">

            <!-- profile pic -->
            <div class="col s3">
              <div class="profile-pic"></div>
            </div>

            <!-- message content -->
            <div class="col s9">
              <h5 class="message-name">John Doe</h5>
              <p class="message-location">
                <span>
                  <i class="material-icons">location_on</i>
                </span>
                San Francisco
              </p>
              <p class="message-text">meesage</p>
            </div>
          </div>

        </div>


        <div [@slide]="message3" class="col s12 message">

          <div class="row">

            <!-- profile pic -->
            <div class="col s3">
              <div class="profile-pic"></div>
            </div>

            <!-- message content -->
            <div class="col s9">
              <h5 class="message-name">John Doe</h5>
              <p class="message-location">
                <span>
                  <i class="material-icons">location_on</i>
                </span>
                San Francisco
              </p>
              <p class="message-text">meesage</p>
            </div>
          </div>

        </div>

        <div [@slide]="message4" class="col s12 message">

          <div class="row">

            <!-- profile pic -->
            <div class="col s3">
              <div class="profile-pic"></div>
            </div>

            <!-- message content -->
            <div class="col s9">
              <h5 class="message-name">John Doe</h5>
              <p class="message-location">
                <span>
                  <i class="material-icons">location_on</i>
                </span>
                San Francisco
              </p>
              <p class="message-text">meesage</p>
            </div>
          </div>

        </div>



      </div>

    </div>
  </div>
</div>