.main {
  background-image: url('../../assets/orbitr-display.png');
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;

  h1 {
    margin-top: 200px;
  }

}

.row {
  margin-bottom: 0px;
}