@import '../../../assets/modules/colors';

.modal {
  color: $ob-black;

  .modal-content {
    height: 400px;
  }

  .loader {
    text-align: center;
    margin-top: 150px;
  }

  .success,
  .form,
  .error {
    position: absolute;
    top: 20px;
  }
}