@import '../../../assets/modules/colors';

.modal {
  color: $ob-black;

  .modal-content {
    height: 400px;
    padding: 0px;
  }

  .close {
    padding: 0 9px;
    margin: 5px;
    text-align: right;
    z-index: 2000;
    float: right;
  }

  .loader {
    text-align: center;
    margin-top: 180px;
    position: absolute;
    margin-left: -30px;
    left: 50%;

    .spinner-layer {
      border-color: $ob-dark-blue;
    }
  }

  .success,
  .form,
  .error {
    position: absolute;
    top: 40px;
    padding: 30px;
  }
}