<div class="outter">
  <div class="container" #filtersElem>
    <div class="row">
      <div class="col s12 filters box-shadow">
        <div class="row">

          <!-- profiles -->
          <div class="col s12">
            <div *ngFor="let profile of filteredProfiles; let i = index">
              <div [@bounce]="orbAnimations" class="profile-pic {{ profile.class }} position-{{ i + 1 }}"></div>
            </div>
          </div>

          <!-- age checkbox group -->
          <div class="col s12">
            <div class="radio-group">
              <h5>age</h5>
              <form action="#">
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.ages[21] }"
                >
                  <input
                    name="age"
                    type="checkbox"
                    id="21"
                    (change)="changeAge($event)"
                    [checked]="filterValues.ages[21]"
                  />
                  <label for="21">18-21</label>
                </p>
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.ages[35] }"
                >
                  <input
                    name="age"
                    type="checkbox"
                    id="35"
                    (change)="changeAge($event)"
                    [checked]="filterValues.ages[35]"
                  />
                  <label for="35">22-35</label>
                </p>
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.ages[36] }"
                >
                  <input
                    name="age"
                    type="checkbox"
                    id="36"
                    (change)="changeAge($event)"
                    [checked]="filterValues.ages[36]"
                  />
                  <label for="36">36+</label>
                </p>
              </form>
            </div>
          </div>

          <!-- distance radio group -->
          <div class="col s12">
            <div class="radio-group">
              <h5>distance</h5>
              <form action="#">
                <p
                  class="radio-container"
                  [ngClass]="{ 'checked': filterValues.distance === 100 }"
                >
                  <input
                    name="distance"
                    type="radio"
                    id="100"
                    (change)="changeDistance($event)"
                    [checked]="filterValues.distance === 100"
                  />
                  <label for="100">100 feet</label>
                </p>
                <p
                  class="radio-container"
                  [ngClass]="{ 'checked': filterValues.distance === 200 }"
                >
                  <input
                    name="distance"
                    type="radio"
                    id="200"
                    (change)="changeDistance($event)"
                    [checked]="filterValues.distance === 200"
                  />
                  <label for="200">200 feet</label>
                </p>
                <p
                  class="radio-container"
                  [ngClass]="{ 'checked': filterValues.distance === 300 }"
                >
                  <input
                    name="distance"
                    type="radio"
                    id="300"
                    (change)="changeDistance($event)"
                    [checked]="filterValues.distance === 300"
                  />
                  <label for="300">300 feet</label>
                </p>
              </form>
            </div>
          </div>

          <!-- gender radio group -->
          <div class="col s12">
            <div class="radio-group">
              <h5>gender</h5>
              <form action="#">
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.genders.male }"
                >
                  <input
                    name="gender"
                    type="checkbox"
                    id="male"
                    (change)="changeGender($event)"
                    [checked]="filterValues.genders.male"
                  />
                  <label for="male">male</label>
                </p>
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.genders.female }"
                >
                  <input
                    name="gender"
                    type="checkbox"
                    id="female"
                    (change)="changeGender($event)"
                    [checked]="filterValues.genders.female"
                  />
                  <label for="female">female</label>
                </p>
              </form>
            </div>
          </div>

          <!-- status checkbox group -->
          <div class="col s12">
            <div class="radio-group">
              <h5>status</h5>
              <form action="#">
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.statuses.friendship }"
                >
                  <input
                    name="status"
                    type="checkbox"
                    id="friendship"
                    (change)="changeStatus($event)"
                    [checked]="filterValues.statuses.friendship"
                  />
                  <label for="friendship">friends</label>
                </p>
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.statuses.dating }"
                >
                  <input
                    name="status"
                    type="checkbox"
                    id="dating"
                    (change)="changeStatus($event)"
                    [checked]="filterValues.statuses.dating"
                  />
                  <label for="dating">dating</label>
                </p>
                <p
                  class="checkbox-container"
                  [ngClass]="{ 'checked': filterValues.statuses.networking }"
                >
                  <input
                    name="status"
                    type="checkbox"
                    id="networking"
                    (change)="changeStatus($event)"
                    [checked]="filterValues.statuses.networking"
                    checked
                  />
                  <label for="networking">networking</label>
                </p>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="col s12 filter-text">
        <h1>Customize Your Search</h1>
        <h5>Adjust the search filters to allow orbitr to fit your specific needs</h5>
      </div>
    </div>
  </div>
</div>