<div class="outter">
  <div class="container" #filtersElem>
    <div class="row" [@drop]="filters">
      <div class="col s12 m12 l6 filters box-shadow">
        <div class="row">

          <!-- profiles -->
          <div *ngFor="let profile of filteredProfiles; let i = index">
            <div class="profile-pic {{ profile.class }} position-{{ i + 1 }}"></div>
          </div>

          <!-- age slider -->
          <div class="col s12 first-filter">
            <h5>age</h5>
            <div #slider id="slider"></div>
          </div>

          <!-- distance slider -->
          <div class="col s12">
            <h5>distance</h5>
            <div #slider2 id="slider2"></div>
          </div>

          <!-- gender radio group -->
          <div class="col s12">
            <div class="radio-group">
              <h5>gender</h5>
              <form action="#">
                <p>
                  <input
                    name="gender"
                    type="radio"
                    id="male"
                    (change)="filter($event, 'gender')"
                  />
                  <label for="male">male</label>
                </p>
                <p>
                  <input
                    name="gender"
                    type="radio"
                    id="female"
                    (change)="filter($event, 'gender')"
                  />
                  <label for="female">female</label>
                </p>
                <p>
                  <input
                    name="gender"
                    type="radio"
                    id="any"
                    (change)="filter($event, 'gender')"
                    checked
                  />
                  <label for="any">any</label>
                </p>
              </form>
            </div>
          </div>

          <!-- account status select -->
          <div class="col s12">
            <h5>status</h5>
            <select materialize="material_select" [materializeSelectOptions]="selectOptions">
              <option *ngFor="let option of selectOptions" [value]="option">
                {{option}}
              </option>
            </select>
          </div>

        </div>
      </div>
      <div class="col s12 m12 l6">
        <h1>Optimize Your Trajectory</h1>
        <h5>Adjust the search filters to allow orbitr to fit your specific needs</h5>
      </div>
    </div>
  </div>
</div>