@import '../../../assets/modules/colors';
@import '../../../assets/modules/media-queries';

.radio-group {
  p {
    display: inline;
    margin-right: 10px;
  }
}

.col h5 {
  padding-top: 10px;
  padding-bottom: 15px;
}

.filters {
  background-color: $ob-black;
  padding: 40px;
  border-radius: 20px;

  .first-filter {
    margin-top: 70px;
  }
}

.select-dropdown {
  z-index: 1000;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-top: 40px;
  margin-left: 5px;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  border: 2px solid white;

  &.profile-pic-1 {
    background-image: url('../../../assets/stock/stock-prof-1.png');
  }

  &.profile-pic-2 {
    background-image: url('../../../assets/stock/stock-prof-2.png');
  }

  &.profile-pic-3 {
    background-image: url('../../../assets/stock/stock-prof-3.png');
  }

  &.profile-pic-4 {
    background-image: url('../../../assets/stock/stock-prof-4.png');
  }

  &.position-1 {
    margin-left: 0px;
  }

  &.position-2 {
    margin-left: 60px;
  }

  &.position-3 {
    margin-left: 120px;
  }

  &.position-4 {
    margin-left: 180px;
  }
}

@media #{$small-and-down} {
  .container {
    margin-top: 10px;
  }

  .filters {
    padding: 5px;
  }

  .filter-text {
    h1 {
      font-size: 2.9rem;
      margin-top: 15px;
    }

    h5 {
      display: none;
    }
  }

  .profile-pic {
    width: 60px;
    height: 60px;
    margin-top: -30px;

    &.position-1 {
      margin-left: 20px;
    }

    &.position-2 {
      margin-left: 50px;
    }

    &.position-3 {
      margin-left: 80px;
    }

    &.position-4 {
      margin-left: 110px;
    }
  }
}

@media #{$extra-small-and-down} {
  .filters {
    h5 {
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
}