<header class="navbar-fixed">

  <!-- nav bar -->
  <nav>
    <div class="nav-wrapper">
      <div class="navbar-logo-container">
        <a href="#" class="brand-logo">
          <img class="logo" src="../../../assets//orbitr-logo.png">
        </a>

        <!-- side nav trigger -->
        <a
          class="button-collapse hide-on-large-and-up"
          data-activates="slide-out"
          materialize="sideNav"
          [materializeParams]="[{closeOnClick:true}]"
        >
          <i class="material-icons">menu</i>
        </a>
      </div>

      <!-- web nav list -->
      <ul class="right hide-on-med-and-down">
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
        <li><a href="#">test</a></li>
      </ul>
    </div>
  </nav>

</header>

<!-- side nav menu -->
<ul class="side-nav" id="slide-out">
  <img class="planet" src="../../../assets/images/orbitr-planet.png">
  <li><a href="#">test</a></li>
  <li><a href="#">test</a></li>
  <li><a href="#">test</a></li>
  <li><a href="#">test</a></li>
</ul>



