<header class="navbar-fixed">

  <!-- nav bar -->
  <nav>
    <div class="nav-wrapper">
      <div class="navbar-logo-container">
        <a href="#" class="brand-logo">
          <img class="logo" src="../../../assets//orbitr-logo.png">
        </a>

        <!-- side nav trigger -->
        <a class="button-collapse hide-on-med-and-up" data-activates="slide-out" materialize="sideNav">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </div>
  </nav>

  <!-- side nav menu -->
  <ul class="side-nav" id="slide-out">
    <li><a href="#">test</a></li>
  </ul>
</header>



