<div #beaconElement class="beacon-animation">
  <div [@bounce]="all" class="beacon-wrapper">
    
    <!-- Phone and beacon animation -->
    <div class="beacon-position" [ngClass]="{ 'beacon-ring': beacon }"></div>
    <img class="phone" src="../../../assets/images/demos/beacon.png">

    <!-- Profile orbs and speech bubbles -->
    <div class="orbs">
      <div class="orb-wrapper-1">
        <img [@bounce]="bubbleOne"class="speech-bubble bubble-one" src="../../../assets/images/actions/status-bubble-1.png">
        <div [@bounce]="orbOne" class="orb orb-1"></div>
      </div>
      
      <div class="orb-wrapper-2">
          <img [@bounce]="bubbleTwo"class="speech-bubble bubble-two" src="../../../assets/images/actions/status-bubble-2.png">
        <div [@bounce]="orbTwo" class="orb orb-2"></div>
      </div>
      
      <div class="orb-wrapper-3">
        <img [@bounce]="bubbleThree"class="speech-bubble bubble-three" src="../../../assets/images/actions/status-bubble-3.png">
        <div [@bounce]="orbThree" class="orb orb-3"></div>
      </div>
      
      <div class="orb-wrapper-4">
          <img [@bounce]="bubbleFour"class="speech-bubble bubble-four" src="../../../assets/images/actions/status-bubble-4.png">
        <div [@bounce]="orbFour" class="orb orb-4"></div>
      </div>
    </div>
    
  </div>
</div>
  