@import url('https://fonts.googleapis.com/css?family=Questrial');
@import '../modules/_media-queries.scss';

// Shadows
$ob-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$ob-drop-shadow: 0 5px 3px rgb(60,60,60);

// Borders
$ob-border-radius: 100px;

// Transitions
$ob-button-transitions: 800ms;
$ob-hover-transitions: 500ms;

html,
body {
  font-family: 'Questrial';
  color: white;
  overflow: hidden;
}

h1 {
  font-size: 4.2rem;
}

.container {
  padding: 100px 0;
}

.box-shadow {
  box-shadow: $ob-box-shadow;
}

.drop-shadow {
  -webkit-filter: drop-shadow($ob-drop-shadow);
  filter: drop-shadow($ob-drop-shadow);
}

// styles for extra large screens and up
@media #{$extra-large-and-up} {
}
// styles for large screens and up
@media #{$large-and-up} {
}
// styles for medium screens and down
@media #{$medium-and-down} {
}
// styles for medium screens and larger
@media #{$medium-and-up} {
}

// styles for small screens and down
@media #{$small-and-down} {
  html,
  body {
    text-align: center;
  }

  h1 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .container {
    padding-top: 30px;
  }
}

// styles for extra small screens and down
@media #{$extra-small-and-down} {
}
