@import url('https://fonts.googleapis.com/css?family=Questrial');

$ob-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$ob-drop-shadow: 0 5px 3px rgb(60,60,60);

html,
body {
  font-family: 'Questrial';
}

.container {
  padding: 100px 0;
}

.box-shadow {
  box-shadow: $ob-box-shadow;
}

.drop-shadow {
  -webkit-filter: drop-shadow($ob-drop-shadow);
  filter: drop-shadow($ob-drop-shadow);
}


