$facebook-blue: rgb(59, 89, 152);
$twitter-blue: rgb(29, 161, 242);
$linkedin-blue: rgb(0, 119, 181);
$google-red: rgb(219, 68, 55);
$youtube-red: rgb(255, 0, 0);
$instagram-grey: rgb(76,76,76);
$instagram-orange: rgb(255, 172, 46);
$instagram-orange-2: rgb(255, 103, 20);
$instagram-red: rgb(255, 68, 40);
$instagram-purple: rgb(145, 0, 182);
$instagram-violet: rgb(102,49,222);
$instagram-pink: rgb(210, 0, 129);

// Main colors
$ob-black: rgb(40, 40, 40);
$ob-grey: rgb(200, 200, 200);
$ob-dark-grey: rgb(60, 60, 60);
$ob-purple: rgb(92, 0, 222);
$ob-purple-trans: rgba(92, 0, 222, .6);
$ob-dark-blue: rgb(50, 60, 220);
$ob-blue: rgb(58, 86, 241);
$ob-blue-hover: rgb(70, 120, 255);
$ob-light-blue: rgb(0, 179, 248);
$ob-teal: rgb(0, 249, 248);
$ob-green: rgb(0, 255, 202);

.ob-gradient {
  background: $ob-blue;
  background: -moz-linear-gradient(45deg, $ob-blue 0%, $ob-purple 100%);
  background: -webkit-linear-gradient(45deg, $ob-blue 0%, $ob-purple 100%);
  background: linear-gradient(45deg, $ob-blue 0%, $ob-purple 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$ob-blue, endColorstr=$ob-purple, GradientType=1 );
}