$facebook-blue: rgb(59, 89, 152);
$twitter-blue: rgb(29, 161, 242);
$linkedin-blue: rgb(0, 119, 181);
$google-red: rgb(219, 68, 55);
$youtube-red: rgb(255, 0, 0);
$instagram-grey: rgb(76,76,76);
$instagram-orange: rgb(255, 172, 46);
$instagram-orange-2: rgb(255, 103, 20);
$instagram-red: rgb(255, 68, 40);
$instagram-purple: rgb(145, 0, 182);
$instagram-violet: rgb(102,49,222);
$instagram-pink: rgb(210, 0, 129);
