.noUi-target {
  background-color: $ob-dark-grey;
}

.noUi-connect,
.noUi-origin,
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle,
.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: $ob-purple;
}

input[type="radio"]:not(:checked) + label:before,
input[type="radio"]:not(:checked) + label:after {
  border-color: $ob-dark-grey;
}

input[type="radio"]:checked + label:after,
input[type="radio"].with-gap:checked + label:after {
  border-color: $ob-purple;
  background-color: $ob-purple;
}

.radio-group {
  label {
    color: white;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: white;
}

.dropdown-content {
  background-color: $ob-black;
}

.select-wrapper input.select-dropdown {
  border-bottom: 2px solid $ob-dark-grey;;
}

.select-wrapper span.caret {
  color: white;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"] + label:before,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after,
[type="radio"] + label:before {
  display: none;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked)+ label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  padding: 0px;
}

.radio-group .checkbox-container,
.radio-group .radio-container {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: $ob-border-radius;
  transition-duration: $ob-button-transitions;
}

.radio-group .checkbox-container.checked,
.radio-group .radio-container.checked {
  background-color: $ob-purple;
  border: 2px solid $ob-purple;
  transition-duration: $ob-button-transitions;
}

@media #{$extra-small-and-down} {
  .radio-group .checkbox-container,
  .radio-group .radio-container {
    padding: 10px;
  }
}