<div class="main">
  <div [mnFullpage]="options">
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <app-main></app-main>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[2]">
          <app-mobile></app-mobile>
        </div>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[3]">
          <app-location [beaconTrigger]="beaconAnimationTrigger"></app-location>
        </div>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[4]">
          <app-filters></app-filters>
        </div>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[5]">
          <app-messages [messageTrigger]="messageAnimationTrigger"></app-messages>
        </div>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[6]">
          <app-subscribe-main></app-subscribe-main>
        </div>
      </div>
    </div>
    <div class="section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="drop" [@drop]="animations[7]">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
